
<div class="ed-container">
  <div class="ed-item">
    <div class="accordion-container">
      <button class="accordion-container__btn-acc">Section 1 </button>
      <div class="accordion-container__panel">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <button class="accordion-container__btn-acc">Section 2</button>
      <div class="accordion-container__panel">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <button class="accordion-container__btn-acc">Section 3</button>
      <div class="accordion-container__panel">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </div>
</div>